@model CastDetailsViewModel

<link rel="stylesheet" href="~/css/cast_details.css" asp-append-version="true" />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="@Model.ProfilePath" alt="@Model.Name" class="img-fluid rounded">
        </div>
        <div class="col-md-8">
            <h1>@Model.Name</h1>
            <p><a href="@Model.TmdbUrl" target="_blank">View on TMDb</a></p>
        </div>
    </div>

    <div class="row mt-4">
        <h2>Movies</h2>
        <div class="d-flex flex-wrap">
            @foreach (var movie in Model.Movies)
            {
                <div class="col-md-3 mb-4 d-flex flex-column align-items-center">
                    <a asp-controller="Movie" asp-action="Details" asp-route-id="@movie.Id">
                        <img src="@movie.PosterUrl" alt="@movie.Title" class="img-fluid rounded">
                        <p class="text-center">@movie.Title</p>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
